body {
    background-color: rgb(19, 24, 41); 
    color: white;
    margin: 0%;
}

body {
    color: blue;
    margin: 0%;
}

header{
    position: relative;
    top: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

#bannerI1{
    width: 100%;
    box-shadow: 0 0 8px 8px white inset;
}

.marvel{
    color: white;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}
#mar_one{top: 400px; left: 16px;}
#mar_two{top: 500px; left: 150px;}
#mar_three{top: 600px; left: 16px;}

#special{
    margin: 40px;
    font-size: 45;
    font-size: 50px;
    text-align: center;
}

#topics {
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
}

.imgTopic{
    height: 250px;
    width: 350px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h5 {text-align: center;}


#bannerI2{opacity: 0.5}

.forged{
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 2px 2px #4ab8c8;
}
#forg_four{
    position: absolute;
    top: 1720px;
    left: 200px;
}
#forg_five{
    position: absolute;
    top: 1790px;
    left: 400px;
}