body {background-color: rgb(19, 24, 41); color: white;}
/* body {color: red;} */

#rings{
    width: 100%;
    box-shadow: 0 0 8px 8px white inset;
}

.titel{
    /* color: white; */
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}

/* #top{
    color: red;
} */

#one{top: 400px; left: 16px;}
#two{top: 500px; left: 150px;}
#three{top: 600px; left: 16px;}

#topics {
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
}

h5 {text-align: center;}

#special{
    margin: 40px;
    font-size: 45;
    text-align: center;
}

.imgTopic{
    height: 250px;
    width: 350px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ark{opacity: 0.5}

#four{
    position: absolute;
    top: 1600px; left: 200px;
}

#five{
    position: absolute;
    top: 1650px; left: 400px;
}

#midel{
    color: rgb(255, 255, 255);
    font-size: large;
    text-shadow: 2px 2px #4ab8c8;
}