body {
    /* color: white; */
    background-color: rgb(19, 24, 41);

    /* background-image: url(/media/ark.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 850px; */

    color: rgb(219, 219, 219);
    margin: 0%;
}

#banner_h1{
    font-size: 80px;
    color: white;
    text-align: center;
    /* position: absolute; */
    /* top: 400px; left: 16px; */
}

nav{
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    background-color: rgb(219, 219, 219);
    justify-content: space-between;
}
.nav_el {
    width: 100px; height: 40px;;
    background-color: #1f38ca;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_el_txt{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: goldenrod;
    text-align: center;
}


.info{
    font-size: 30px;
    margin: 0px;
    position: relative;
}



#d_one{
    /* margin-top: 80px; */
    width: 1000px;
    height: 148px;
    /* border: 5px solid red; */

    float: left;

}

#d_two{
    width: 1000px;
    height: 170px;
    /* border: 5px solid green; */

    margin-top: 50px;
    margin-bottom: 50px;
    float: right;
}
#d_three{
    width: 1000px;
    height: 167;
    /* border: 5px solid yellow; */
    /* float: right; */
}

#i3{float: right;}
img{border-radius: 7px;}

#right {
    float: right;
    padding-top: 70px;

}

#info{
    /* text-align: center; */
    /* font-size: 10px; */   
}

#test{padding-top: 100px;}

iframe{
    padding-top: 100px;
}

footer {
    text-align: center;
    padding-top: 60px;
}


@media only screen and (max-width: 600px) {

    body{width: 630px;}

    #banner_h1{
        font-size: 40px;
    }

    #bannerI1{
        width: 630;
        height: 100;
    }

    #info{
        display: flex;
        flex-direction: column;
    }

    .info{
        width: 500px;
        font-size: 20px;
    }


    #d_one{
        width: 40px;
    }
    #d_two{
        width: 40px;
    }
    #d_three{
        width: 40px;
    }

    #i1{
        width: 600px;
        height: 400;
    }
    #i2{
        width: 630px;
    }
    #i3{
        width: 630px;
        text-align: center;
        float: right;

    }

    /* iphoto */

    /* #v{justify-content: center;}
    
    iframe{padding: 10px;} */
}